@import url('https://fonts.googleapis.com/css?family=Lato');
/* .homepage-stream-block{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10rem;

}

.ghost-button-streaming-icon-spotify {
    background-clip: text;
    background: linear-gradient(45deg, #17d95e, #1dd760);
    border: 0.3rem solid transparent;
    border-image: linear-gradient(45deg, #17d95e, #1dd760);
    border-image-slice: 1;
    color: transparent;
    -webkit-background-clip: text;
}

.ghost-button-streaming-icon-apple {
    background-clip: text;
    background: linear-gradient(45deg, #dbdcde, #c1c2c4);
    border: 0.3rem solid transparent;
    border-image: linear-gradient(45deg, #dbdcde, #c1c2c4);
    border-image-slice: 1;
    color: transparent;
    -webkit-background-clip: text;
}

.ghost-button-streaming-icon-soundcloud {
    background-clip: text;
    background: linear-gradient(45deg, #ff3f00, #ff6a00);
    border: 0.3rem solid transparent;
    border-image: linear-gradient(45deg, #ff3f00, #ff6a00);
    border-image-slice: 1;
    color: transparent;
    -webkit-background-clip: text;
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background: #070c15;
    font-family: 'Lato', sans-serif;
}

/* reusable */

body {
    width: 100%;
    height: 100%;
}

.ghost-button {
    display: block;
    width: 18rem;
    padding: 1.5rem;
    color: #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

section {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sub-title {
    color: white;
    text-align: center;
    z-index: 5;
    padding-top: 5vh;
    font-size: 2rem;
    position: relative;
}

.sub-title:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 70%; 
    left: 0;
    right: 0;
    width: 85%;
    z-index: -1;
}

.title-line {
    background: #070c15;
    padding: 0 5px;
}

/* end of reusable */

/* header */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: none;
}

.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #e3e3e3;
    width: 50px;
    height: 50px;
}

.menu:before {
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-color: #212121;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -6px;
}

.menu:after {
    content: "";
    position: absolute;
    transition: all 0.3s;
    background-color: #212121;
    height: 4px;
    width: 30px;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: 4px;
}

.menu:hover {
    background-color: orange;
}

.menu-cross{
}

.menu-cross:before{
    transform: translateY(9px) translateX(0) rotate(45deg);
    top:40%;
}

.menu-cross:after{
    transform: translateY(-1px) translateX(0) rotate(-45deg);
    top:40%;
}

.overlay-nav{
    height: 0%;
    width: 100%;
    background-color: #000000eb;
    position: fixed;
    z-index: 10;
    visibility: hidden;
}

.overlay-nav-active{
    height: 100%;
    visibility: visible;
    transition: height .40s;

}

.overlay-nav-titles{
    height: 80%;
    width: 100%;
    padding-top: 50px;

}

.nav-mobile-list{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
}

.nav-list-item{
    text-transform: uppercase;
    color: white;
    font-size: 3.5rem;
    letter-spacing: 10px;
}

.nav-list-item:hover{
    color: gold;
}

.nav-list-item-hidden{
    display: none;
}

.overlay-nav-social{
    height: 20%;
    width: 100%;

}

.social-media-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;

}

.social-list-item{
    color: white;
    list-style-type: none;
    font-size: 2rem;
}

.social-list-item:hover{
    color: gold;
}



/* homepage */

.homepage {
    background: url("/images/ash1.JPG");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    filter: contrast(1.1);
}

.homepage-title {
    width: 100%;
    /* filter:drop-shadow(8px 8px 10px gray); */
    filter: opacity(70%);
    position: absolute;
    z-index: 2;
    top: 2vh;
}

.homepage-logo-box {
    height: 100vh;
    width: 15%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-logo-img {
    width: 100%;
    filter: opacity(70%);
    margin-top: 5vh;
}

.homepage-scroll-container {
    position: absolute;
    height: 10vh;
    bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-button {}

.scroll-line {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroll-down 2s infinite;
    animation: scroll-down 2s infinite;
    opacity: 0;
}

.scroll-button span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.scroll-button span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.scroll-button span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Latest */

.latest-videoWrapper {
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.latest-text {
    background: linear-gradient(to right, #67463e 0%, #9c8375 21%, #d29b6b 74%, #50390d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-transform: uppercase;
    padding: 3vh 0;
}

.latest-videoWrapper iframe {
    width: 90%;
    height: 80%;
    margin: 0 auto;
}

/* music */

.music-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 2vh;
}

.music-wrapper iframe {}

.music-gallery{
    height: 50%;
}
.music-gallery-box{
    height: 80%;
    width: 80%;
    margin: 5% auto;
}   
.music-gallery-img{
    width: 100%;
    height: 100%;
}

/* video */

.slider-for{
	width: 200px;
	height: 150px;
	margin: 30px auto 1px;
	overflow: hidden;
}
item > img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 300px;
	height: 85px;
	margin: auto;
}
.slider-nav .slick-track{
	height: 85px;
}
.slick-arrow{
		position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}


/* events */

.events-show{
    height: 35%;

}

.events-slideshow{
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: 55%;
  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.events-slideshow > div {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    
  }

  .events-img{
      height: 70%;
      width: 100%;
      border: 1px solid white;
  }


/* bio */

.bio {
    overflow: hidden;
}

.bio-img {
    background: url("/images/ash2.jpg");
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width: 100%;
    height: 80%;
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    top: -120px;
    filter: opacity(70%);
}

.bio-box {
    width: 100%;
    position: absolute;
    bottom: 10vh;
}

.bio-box-text {
    background: linear-gradient(to right, #67463e 0%, #9c8375 21%, #d29b6b 74%, #50390d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    padding: 3vh;
}

.bio-box-text:before {
    content: "";
    position: absolute;
    left: 33vw;
    top: 0;
    width: 30vw;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #67463e 0%, #9c8375 21%, #d29b6b 74%, #50390d 100%);
    border-image-slice: 1;
}

.bio-box-text:after {
    content: "";
    position: absolute;
    left: 33vw;
    bottom: 0;
    width: 30vw;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #67463e 0%, #9c8375 21%, #d29b6b 74%, #50390d 100%);
    border-image-slice: 1;
}
